/* general formatting */
body {
    background-color: #ccffff;
    color: #184878;
}

header {
    font-family: 'Tourney', cursive;
    text-align: center;
}

main {
    font-family: 'Signika Negative', sans-serif;
    font-size: 1em;
    background-color: #ffddee;
    border: 0rem solid rgb(0, 0, 0, 0);
    border-radius: 5rem;
    padding: 2rem;
    margin: 1rem;
}

h2 {
    text-align: center;
    font-size: 1.5em;
}

section {
    outline: .25rem solid #184878;
    outline-offset: -.2rem;
    border-radius: 5rem;
    padding: 3rem;
}

#bio,
#hobbies,
#video {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* make nested lists stand out */
ul ul {
    background-image: linear-gradient(90deg, #ccffff, #ffddee);
    margin: .25rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-style: oblique;
}

/* links turn white on hover or focus */
a {
    text-decoration: none;
    color: #980020;
    transition: color 250ms ease-in;
}

a:hover,
.navbar-links a:focus {
    color: white;
}

/* hero section formatting */
#hero {
    font-family: 'Tourney', cursive;
    text-align: center;
    font-size: .75rem;
    font-weight: bold;
}

#selfie {
    max-width: 100%;
    border: 0rem solid rgb(0, 0, 0, 0);
    border-radius: 10rem;
}

/* gallery formatting */
#gallery {
    text-align: center;
}

figure {
    text-align: center;
    margin: .5em;
}

figure img,
ul ul {
    border: 0rem solid rgb(0, 0, 0, 0);
    border-radius: 1rem;
    max-width: 100%;
}

/* video formatting */
#video p {
    width: 70vw;
}

#myVideo {
    width: 70vw;
    height: 125vw;
    margin: 1em;
    border: none;
}

/* blog formatting */
article {
    padding: 1rem;
}

article h2 {
    font-family: 'Tourney', cursive;
    margin-top: 1rem;
}

article .blog-post p:first-child {
    margin-top: 0;
}

#sources p {
    margin: 0;
}

#sources ul {
    list-style: none;
    margin: 0;
    padding-left: 8em;
    text-indent: -6em;
}

/* illuminated initial */
article .blog-post:first-letter {
    font-size: 4rem;
    font-family: 'Tourney', cursive;
    color: #ffddee;
    float: left;
    background-color: #184878;
    border: .5rem double #ffddee;
    padding: .75rem;
    margin-right: .25rem;
}

/* form formatting */
form {
    margin: auto;
}

legend {
    background-color: #ccffff;
    background-image: linear-gradient(90deg, #ccffff, #ffddee);
    padding: .25rem;
    border: 0rem solid rgb(0, 0, 0, 0);
    border-radius: 1rem;
}

#contactForm fieldset {
    padding: .5em;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
    border: .25rem solid rgb(85, 136, 136, .5);
    border-radius: 1rem;
}

label {
    text-align: left;
}

fieldset input,
fieldset select,
fieldset textarea {
    margin-bottom: 1em;
    height: 2.5rem;
    padding-left: .5em;
    padding-right: .5em;
    border: 0rem solid rgb(0, 0, 0, 0);
    border-radius: 1rem;
    background-color: #ffffff;
    background-image: linear-gradient(90deg, #ffffff, #ccffff);
    color: #184878;
}

fieldset input:focus,
fieldset select:focus,
fieldset textarea:focus {
    outline: 5px solid #ccffff;
    box-shadow: 0 0 25px #184878;
}

fieldset textarea {
    padding-top: .5em;
    padding-bottom: .5em;
    resize: none;
    height: 8rem;
}

ul li input {
    margin-bottom: 0;
}

#followupField ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
}

.submit {
    margin: auto;
    margin-top: 1em;
    width: 10em;
    height: 3em;
    border: .25rem solid #184878;
    border-radius: 1rem;
    background-color: #ffddee;
    color: #184878;
}

.submit:active {
    background-color: #ccffff;
}

#contactForm p {
    text-align: right;
    font-size: .75em;
    max-width: 600px;
    margin: auto;
}

/* footer formatting */
footer {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}

/*
just cute pride flags made from playing around with linear gradients
hidden on small screen sizes
*/
#flags {
    display: none;
}

.flag {
    width: 7.5em;
    height: 4.5em;
    margin: .5em;
}

.flag.pride {
    background-image: linear-gradient(red 16.66%, orange 0 33.33%, yellow 0 50%, green 0 66.66%, blue 0 83.33%, indigo 0);
}

.flag.trans {
    background-image: linear-gradient(skyblue 20%, pink 0 40%, white 0 60%, pink 0 80%, skyblue 0);
}

#copyright,
#repo {
    font-family: 'Signika Negative', sans-serif;
    text-align: right;
    padding: 1rem;
}

#repo {
    text-align: left;
}

@media screen and (min-width: 25em) {
    #hero {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 550px) {
    #hero {
        font-size: 2rem;
    }

    main {
        font-size: 1.25em;
    }

    h2 {
        font-size: 2em;
    }

    /* change form formatting for larger screens */
    #contactForm fieldset {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: .5em;
    }

    #contactForm #followupField {
        grid-column-start: 1;
        grid-column-end: -1;
        width: 60%;
        display: flex;
        flex-direction: column;
    }

    input,
    select,
    textarea {
        grid-column-start: span 2;
    }

    .submit {
        grid-column-start: 2;
    }

    label {
        text-align: right;
        padding-right: .5em;
    }

    /*
    once there is room, display flags
    and format the footer for them
    */
    footer {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    #flags {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #repo {
        text-align: center;
    }
}

@media screen and (min-width: 640px) {
    /*
    prevents the lists from getting shoved
    to the left by longer entries
    */
    #bio ul,
    #hobbies ul {
        max-width: 60vw;
    }

    /* full video size can be on display, no need to get bigger */
    #video p {
        width: 450px;
    }

    #myVideo {
        width: 449px;
        height: 800px;
    }
}

@media screen and (min-width: 60em) {
    #hero {
        font-size: 2em;
    }

    main {
        font-size: 1.5em;
    }

    /* gallery switches to putting images and captions side-by-side */
    figure {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-left: 1rem;
    }

    /* video caption doesn't need to get wider than this */
    #video p {
        width: 750px;
    }

    /* on wide screens, split the text into columns for easier reading */
    #blog > div {
        max-width: 100%;
        columns: 40rem;
    }
}

/*
gallery switches to putting images side
by side to take advantage of screen size
*/
@media screen and (min-width: 100em) {
    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #gallery h2 {
        grid-column: 1/-1;
        text-align: center;
    }

    #gallery div {
        width: 1rem;
    }

    figure {
        display: block;
        margin-bottom: 0;
    }
}