body {
    background-color: #AEE;
    color: #588;
}

header {
    font-family: 'Tourney', cursive;
    font-size: 4rem;
    text-align: center;
}

main {
    font-family: 'Signika Negative', sans-serif;
    font-size: 1.5rem;
    background-color: #ECD;
    border: 0rem solid rgb(0,0,0,0);
    border-radius: 5rem;
    padding: 2rem;
}

#hero {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}

section {
    outline: .25rem solid #588;
    outline-offset: -.2rem;
    border-radius: 5rem;
    padding: 3rem;
}

ul ul {
    background-image: linear-gradient(90deg, #AEE, #ECD);
    margin: .25rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-style: oblique;
}

figure {
    text-align: center;
    margin-bottom: 4rem;
}

figure img, ul ul {
    border: 0rem solid rgb(0,0,0,0);
    border-radius: 1rem;
}

article {
    padding: 1rem;
}

article h2 {
    font-family: 'Tourney', cursive;
}

article div:first-letter {
    font-size: 4rem;
    font-family: 'Tourney', cursive;
    color: #ECD;
    float: left;
    background-color: #588;
    border: .5rem double #ECD;
    padding: .75rem;
    margin-right: .25rem;
}

footer {
    font-family: 'Signika Negative', sans-serif;
    text-align: right;
    padding: 1rem;
}