* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #AEE;
    color: #588;
}

header {
    font-family: 'Tourney', cursive;
    font-size: 2rem;
    text-align: center;
}

main {
    font-family: 'Signika Negative', sans-serif;
    font-size: 1.5rem;
    background-color: #ECD;
    border: 0rem solid rgb(0,0,0,0);
    border-radius: 5rem;
    padding: 2rem;
    margin: 1rem;
}

#hero {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

#avatar {
    max-width: 100%;
}

section {
    outline: .25rem solid #588;
    outline-offset: -.2rem;
    border-radius: 5rem;
    padding: 3rem;
}

#gallery {
    text-align: center;
}

#bio, #hobbies, #video {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul ul {
    background-image: linear-gradient(90deg, #AEE, #ECD);
    margin: .25rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-style: oblique;
}

figure {
    text-align: center;
    margin: .5em;
}

figure img, ul ul {
    border: 0rem solid rgb(0,0,0,0);
    border-radius: 1rem;
    max-width: 100%;
}

#video p {
    width: 70vw;
}

#myVideo {
    width: 70vw;
    height: 125vw;
    margin: 1em;
}

article {
    padding: 1rem;
}

article h2 {
    font-family: 'Tourney', cursive;
    margin-top: 1rem;
}

article div:first-letter {
    font-size: 4rem;
    font-family: 'Tourney', cursive;
    color: #ECD;
    float: left;
    background-color: #588;
    border: .5rem double #ECD;
    padding: .75rem;
    margin-right: .25rem;
}

footer {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}

#flags {
    display: none;
}

.flag {
    width: 7.5em;
    height: 4.5em;
    margin: .5em;
}

.flag.pride {
    background-image: linear-gradient(red 16.66%, orange 0 33.33%, yellow 0 50%, green 0 66.66%, blue 0 83.33%, indigo 0);
}

.flag.trans {
    background-image: linear-gradient(skyblue 20%, pink 0 40%, white 0 60%, pink 0 80%, skyblue 0);
  }

#copyright {
    font-family: 'Signika Negative', sans-serif;
    text-align: right;
    padding: 1rem;
}

@media screen and (min-width: 550px) {
    header {
        font-size: 4rem;
    }
    
    #hero {
        font-size: 3rem;
    }
    
    #flags {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

@media screen and (min-width: 640px) {
    #video p {
        width: 450px;
    }

    #myVideo {
        width: 449px;
        height: 800px;
    }
}

@media screen and (min-width: 60em) {
    figure {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-left: 1rem;
    }

    #video p {
        width: 750px;
    }

    #lit div {
        max-width: 100%;
        columns: 40rem;
    }
}

@media screen and (min-width: 100em) {
    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #gallery h2 {
        grid-column: 1/-1;
        text-align: center;
    }

    #gallery div {
        width: 1rem;
    }

    figure {
        display: block;
        margin-bottom: 0;
    }
}